<!DOCTYPE html>
<!---Coding By CoderGirl!--->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About</title>
  <link rel="stylesheet" href="about.css">
</head>
<body>
     {{>navbar}}
  <section class="about-us">
    <div class="about">
      {{!-- <img src="https://nmdeptag.nmsu.edu/media/seed_fsf.jpg" class="pic"> --}}
      <div class="text">
        <h2>About MyAgri</h2>
        <h5>Seeds and Pestiside & <span>Distributer</span></h5>
          <p>We are proud to offer a wide range of high-quality seeds and pesticides to help farmers achieve their best yields and protect their crops from pests.
Seeds are the foundation of any successful farm, and we understand the importance of starting with top-quality seeds. That's why we offer a variety of seeds, including hybrid and heirloom varieties, that are carefully selected for their germination rates, disease resistance, and overall performance.
In addition to seeds, we also offer a range of pesticides that are designed to help farmers protect their crops from pests and diseases. Our selection includes both chemical and organic options, so you can choose the method that best suits your needs and values.
We take pride in offering products that are not only effective but also safe for the environment and for the people who use them. That's why we carefully vet all of our suppliers and products to ensure that they meet our high standards for quality, safety, and sustainability.
Thank you for choosing MY AGRI for your seed and pesticide needs. We look forward to serving you and helping you achieve a successful harvest.</p>
        </div>
      </div>
  </section>
  {{>footer}}
</body>
</html>
