<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Checkout Confirmation</title>
    <link rel="stylesheet" href="confirmation.css">
  </head>
  <body>
    {{>navbar}}
    <h1>Thank you for your order!</h1>
    <p>Your order has been confirmed and will be shipped shortly.</p>
    {{>footer}}
  </body>
</html>
