<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
	<link rel="stylesheet" href="contact.css">
</head>
<body>
	{{>navbar}}
	<div class="container">
		<h1>Contact Us</h1>
		<div class="contact-info">
			<div class="address">
				<h2>Address</h2>
				<p>Models Street, BKC complex,</p>
				<p>Mumbai, Maharashtra,411057</p>
			</div>
			<div class="phones">
				<h2>Phones</h2>
				<p>Main: +22 - 785469</p>
				<p>Support: +91-9876543221</p>
			</div>
			<div class="emails">
				<h2>Emails</h2>
				<p>General: myAgri@gmail.com</p>
				<p>Support: myAgrisupport@gmail.com</p>
			</div>
		</div>
	</div>
    {{>footer}}
</body>
</html>
