<!DOCTYPE html>
<html>

<head>
    <title>MyAgri</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>

    <div class="container">
        <div class="logo">
            <img src="logo.png.jpeg" alt="Logo" width="130" />
        </div>
        <h1><span style="color: rgb(239, 244, 105);">Welcome to </span><span
                style="color: rgb(131, 231, 78);">CropCommerce</span></h1>
        <nav>
            <ul>
                <div class="buttons">
                    <a class="button" href="/about">About</a>
                    <a class="button" href="/loginp">Admin</a>
                    <a class="button" href="/contact">Contact</a>
                    <a class="button" href="/register">Register</a>
                    <a class="button" href="/login">Log In</a>
                </div>
            </ul>
        </nav>
    </div>
    <hr />

    {{>footer}}
</body>

</html>
