table {
  border-collapse: collapse;
  width: 100%;
  border-color: black;
  border: solid;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tfoot td {
  font-weight: bold;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  position: absolute;
  right: 245px;
}